<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{{basics.name}} - Resume</title>
  <style>
    {{stylesheet}}
  </style>
</head>
<body>
  <header>
    <h1>{{basics.name}}</h1>
    <div>
      {{#if basics.email}}<span>{{basics.email}}</span>{{/if}}
      {{#if basics.phone}}<span> | {{basics.phone}}</span>{{/if}}
      {{#if basics.url}}<span> | <a href="{{basics.url}}">{{basics.url}}</a> </span>{{/if}}
    </div>
    {{#if basics.location}}<p>{{basics.location}}</p>{{/if}}
    {{#if basics.customFields.length}}
      {{#each basics.customFields}}
        <div class="field">
          <span class="label">{{key}}:</span>
          <span>{{value}}</span>
        </div>
      {{/each}}
    {{/if}}
  </header>

  {{#if basics.summary}}
    <section class="section">
      <h2>Summary</h2>
      <p>{{basics.summary}}</p>
    </section>
  {{/if}}


  {{#if work.length}}
    <section class="section">
      <h2>Work Experience</h2>
      {{#each work}}
        <div class="item">{{json this}}</div>
      {{/each}}
    </section>
  {{/if}}

  {{#if volunteer.length}}
    <section class="section">
      <h2>Volunteer</h2>
      {{#each volunteer}}
        <div class="item">{{json this}}</div>
      {{/each}}
    </section>
  {{/if}}

  {{#if education.length}}
    <section class="section">
      <h2>Education</h2>
      {{#each education}}
        <div class="item">{{json this}}</div>
      {{/each}}
    </section>
  {{/if}}

  {{#if awards.length}}
    <section class="section">
      <h2>Awards</h2>
      {{#each awards}}
        <div class="item">{{json this}}</div>
      {{/each}}
    </section>
  {{/if}}

  {{#if certificates.length}}
    <section class="section">
      <h2>Certificates</h2>
      {{#each certificates}}
        <div class="item">{{json this}}</div>
      {{/each}}
    </section>
  {{/if}}

  {{#if publications.length}}
    <section class="section">
      <h2>Publications</h2>
      {{#each publications}}
        <div class="item">{{json this}}</div>
      {{/each}}
    </section>
  {{/if}}

  {{#if skills.length}}
    <section class="section">
      <h2>Skills</h2>
      {{#each skills}}
        <div class="item">{{json this}}</div>
      {{/each}}
    </section>
  {{/if}}

  {{#if languages.length}}
    <section class="section">
      <h2>Languages</h2>
      {{#each languages}}
        <div class="item">{{json this}}</div>
      {{/each}}
    </section>
  {{/if}}

  {{#if interests.length}}
    <section class="section">
      <h2>Interests</h2>
      {{#each interests}}
        <div class="item">{{json this}}</div>
      {{/each}}
    </section>
  {{/if}}

  {{#if references.length}}
    <section class="section">
      <h2>References</h2>
      {{#each references}}
        <div class="item">{{json this}}</div>
      {{/each}}
    </section>
  {{/if}}

  {{#if projects.length}}
    <section class="section">
      <h2>Projects</h2>
      {{#each projects}}
        <div class="item">{{json this}}</div>
      {{/each}}
    </section>
  {{/if}}
</body>
</html>